* {
  margin: 0;
  padding: 0;
  border: 0;
  background: #081373 url(images/main-wrapper-bg.png) repeat;
}
h2 {
  text-align:center;
  font-weight: bold;
  color:red;
}
body{
  font-family: calibri;
  font-size: 15px;
  font-weight: normal;
  color:white;
  outline: none;
  font-family: 'Arvo', serif;
  
}
